@{
    ViewBag.Title = "ViewMyEventsnull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewMyEventsnull</h2>

<h2>ViewMyEvents</h2>
<p>
    @Html.ActionLink("Create New", "CreateEvent")
</p>

<br />
<br />
<br />
<br />
<p>You dont have any Events</p>
<div>
    @Html.ActionLink("Back to home", "Index")
</div>